@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,400;1,600;1,700&display=swap");

.white-mode {
  background-color: hsl(0, 0%, 100%) !important;
  color: hsl(200, 15%, 8%) !important;
}
.dark {
  background-color: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 100%) !important;
}
.white-background {
  background-color: hsl(0, 0%, 98%) !important;
}
.darkBg {
  background-color: hsl(207, 26%, 17%) !important;
  color: hsl(0, 0%, 100%) !important;
}
.darkModeBtn {
  cursor: pointer;
}
.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 765px) {
  .post-img {
    width: 50% !important;
  }
  .search {
    width: 50% !important;
  }
  .filter {
    width: 25% !important;
  }
}
